@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root {
    --background:               #353535;
    --navbar-link:              gray;
    --navbar-link-hover:        white;
    --text-main-background:     lightgray;
    --text-main-title:          black;
    --text-main:                black;
}

body, div {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    background-color: var(--background);
    font-family: "Inter";
}

#nav-main {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    font-weight: 500;
}

#nav-main > a + a {
    margin-left: 5vw;
}

#nav-main > a {
    text-decoration: none;
    color: var(--navbar-link);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 300ms;
}

#nav-main > a:hover {
    color: var(--navbar-link-hover);
    cursor: pointer;
    transition: 300ms;
}

#text-main {
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70vw;
    height: 100vh;
    background-color: var(--text-main-background);
    box-shadow: 0 0 5em;
    border-radius: 10px;
}

#title {
    font-size: 10em;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    color: var(--text-main-title);
    margin: 10vh;
}

#desc {
    font-size: 2em;
    padding: 0 5vw;
    color: var(--text-main);
}